{{ define "head" }}
  <link rel="stylesheet" href="/css/cpc-calculator.css" />
{{ end }}

{{ define "content" }}
<article class="page single">
    <h1 class="single-title">{{ .Title }}</h1>

    <div class="content" id="content">
        <div id="cpc-calculator"></div>

        <!-- Recommended Calculator Card -->
      <div id="recommended-calculators">
        <h2>Recommended Calculator</h2>
        <div class="card">
          <h3>CTR Calculator</h3>
          <p>Calculate CTR and boost your campaigns</p>
          <a href="https://chloevolution.com/tools/ctr-calculator/" target="_blank" rel="noopener noreferrer">
          Try CTR Calculator
          </a>
        </div>
      </div>

    </div>

    <script src="/js/calculators/cpc-calculator.js"></script>

    <div class="cpc-extra-content">
      {{ .Content }}
    </div>
</article>
{{ end }}
